/*

    Virtual Keyboard CSS
    @Author Stephen31

*/


/* The animation code */

@keyframes show-keyboard {
    0% {
        transform: scale(.7);
        opacity: 0;
    }
    45% {
        transform: scale(1.05);
        opacity: 1;
    }
    80% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hide-keyboard {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(.5);
        opacity: 0;
    }
}

.keyboard-container {
    position: absolute;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    width: 430px;
    height: 220px;
    justify-content: space-around;
    padding: 8px;
    background-color: #EEE;
    box-shadow: 0px 1px 0px 1px #DDD;
    /* animation-name: keyboardAnimation;
    animation-duration: 4s; */
    /* transition: all 0.2s ease; */
    visibility: hidden;
    /* display: none; */
}

.showKeyboard {
    animation-name: show-keyboard;
    animation-duration: 1s;
}

.hideKeyboard {
    animation-name: hide-keyboard;
    animation-duration: 1s;
}

.keyboard-container.visible {
    /* display: block; */
    visibility: visible;
}

.keyboard-container .actions-container {
    display: flex;
    justify-content: flex-end;
    color: grey;
}

.keyboard-container .actions-container span {
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 3px;
    transition: transform 0.2s ease;
}

.keyboard-container .actions-container span:hover {
    transform: scale(1.5);
}

.keyboard-container .row {
    display: flex;
    width: 100%;
    height: 50px;
}

.keyboard-container .row .key {
    display: flex;
    border-radius: 4px;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 0.5rem;
    margin: 4px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 0px 1px #AAA;
    
    cursor: pointer;
    /* transition: all 0.2s ease; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.keyboard-container .row .key:hover {
  /* box-shadow: 0px 2px 0px 2px #DDD; */
  
    /* transform: scale(1.1); */
}

.keyboard-container .row .key:active {
    box-shadow: 0px 0px 1px 0px rgb(138, 138, 138);
    transform: translateY(2px);
    /* background-color: rgb(192, 192, 192); */
}

.keyboard-container .row .key.space-key {
    flex-grow: 4;
}

.keyboard-container .row .key.enter-key {
    flex-grow: 2;
}

.keyboard-container .row .key.backspace-key {
    flex-grow: 2;
}